.container{
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 30px;
}
.heading{
    font-size: 35px;
}
.cardContainer{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 10px;
}