.modal {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50vw;
  height: 60vh;
  background: white;
  color: rgb(0, 0, 0);
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}